<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Directory</title>
</head>

<body>

<div class="container">

	<h3>Last changements  </h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/controls/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add
	</a>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Place</th>
				<th>Température</th>
				<th>Humidity</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr  th:each="tempControl: ${controls}">
			
				<td th:text="${tempControl.place}"/>
				<td th:text="${tempControl.temp}" />	
				<td th:text="${tempControl.humidity}" />	
				
				<td>
				<div class="row">
				
					<div class="col-small">
					<!-- Add "update" button/link -->
					<form  th:action="@{/controls/showFormForUpdate}" method="POST">
					
						<input type="hidden" name="controlId" th:value="${tempControl.id}" />						
						<button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

					</form>
					</div>
					
					<div class="col-small">
					<!-- Add "delete" button/link -->					
					<form th:action="@{/controls/delete}" method="POST">
					
						<input type="hidden" name="controlId" th:value="${tempControl.id}" />						
						<button type="submit" class="btn btn-danger btn-sm"
								onclick="if (!(confirm('Are you sure you want to delete thisinformation ?'))) return false">
								Delete
						</button>

					</form>
					</div>
				</div>	
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



